@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    
    --background: #222831;
    --middle1: #31363F;
    --middle2: #76ABAE;
    --foreground: #EEEEEE;
}


*{
    margin: 0;
    padding: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
}