.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    background-color: var(--middle1);
    width: 100%;
    padding: 8px 12px;
}

.label{
    color: var(--foreground);
    font-size: 20px;
}

.input{
    border-radius: 12px;
    padding: 8px 12px;
    border: none;
}

.btn{
    border-radius: 12px;
    padding: 8px 12px;
    border: none;
    background-color: var(--background);
    color: var(--foreground);
    cursor: pointer;
    transition: all 0.5s ease;

}

.btn:hover{
    transform: scale(1.1);
}

@media (min-width:700px) {
    .form{
        flex-direction: row;
        padding: 12px 20px;
    }

    .input{
        width: 33%;
    }

    .btn{
        font-size: 18px;
    }
}